root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true

# Heuristic from black (Python formatter)
max_line_length = 88

trim_trailing_whitespace = true

[*.fsproj]
indent_style = tab
indent_size = 2
tab_width = 2
